*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #eaeaea;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 1em;
}

a{
    color: rgb(27, 27, 27);
    text-decoration: none;
}
a:hover{
    color: rgb(139, 137, 137);
    text-decoration: none;
}

.justify-between {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.justify-between p {
    margin: 0;
    width: 200px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.divLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    position: absolute;
    overflow: hidden;
}

.pagesGroup {
    width: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    border: 2px solid #FF6565;
  }

.formPost{
    width: 90%;
    margin-left: 5%;
    margin-top: 3rem;
}

.detailDiv{
    width: 90%;
    margin: 3rem 5%;
}

.ButtonsPosts{
    z-index: 9999;
}

@media (min-width: 600px) {
    .justify-between {
        width: 80%;
    }

    .justify-between p {
        width: auto;
    }

    .formPost{
        width: 60%;
        margin-left: 20%;
    }

    .detailDiv{
        width: 70%;
        margin: 3rem 15%;
    }
}

@media (min-width: 1100px) {
    .justify-between {
        width: 60%;
    }

    .formPost{
        width: 40%;
        margin-left: 30%;
    }

    .detailDiv{
        width: 50%;
        margin: 3rem 25%;
    }
}